
/*!* Récupère tous les éléments HTML dont le nom vaut 'pre' ou 'p' *!*/
/*pre, p {*/
/*    color: rgb(51, 102, 255);*/
/*    width: 100%;*/
/*}*/

/*#main-title {*/
/*    color: darkred;*/
/*    padding: 5px 2px;*/
/*}*/

/*!* Récupère tous les éléments HTML dont l'attribut class (représenté par le '.') vaut "purple" *!*/
/*.purple {*/
/*    color: purple;*/
/*}*/

/*!* Récupère tous les éléments HTML dont l'attribut id (représenté par le '#') vaut "receptor" *!*/
/*#receptor {*/
/*    color: darkgreen;*/
/*}*/

/*!* Sélectionne la balise 'a' dont la valeur du href vaut "index.html" *!*/
/*a[href="index.html"] {*/
/*    color: #ff00ff;*/
/*}*/

/*!* Applique un css lors de l'état 'hover' sur le a[href="index.html"] *!*/
/*a[href="index.html"]:hover {*/
/*    color: #004d1a;*/
/*}*/

/*!* Applique un css sur l'image dont la valeur de l'attribut src vaut "images/couche_soleil.jpg" *!*/
/*img[src="images/couche_soleil.jpg"] {*/
/*    width: 100%;*/
/*    max-height: 640px;*/
/*}*/

/*!* Applique sur tout le contenu de la balise html la police "Open Sans" sinon "sans-serif" avec une taille de 10px *!*/
/*html {*/
/*    font-size: 12px;*/
/*    font-family: 'Open Sans', sans-serif;*/
/*}*/

/*h2 {*/
/*    font-family: sans-serif;*/
/*}*/

/*pre {*/
/*    border: 1px solid coral;*/
/*}*/

.test-after:after {
    content: " *";
    color: red;
}

.test-after:before {
    content: "=> ";
    color: red;
}

.table {
    background-color: green;
    border-color: darkgreen;
    color: antiquewhite;
}

.table > :not(caption) > * > * {
    color: antiquewhite;
}

.height-15 {
    height: 15vh;
}

.red {
    background-color: red;
    color: antiquewhite;
    font-size: 1rem;
}

.forest-green {
    background-color: forestgreen;
    color: antiquewhite;
    font-size: 1rem;
}

.bg-light {
    background-color: forestgreen !important;
}

.navbar-light .navbar-brand {
    color: antiquewhite;
}

.navbar-light .navbar-nav .nav-link {
    color: antiquewhite;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0dcaf0;
}

.container-top {
    margin-top: 5em;
}

.side-nav {
    left: unset;
    right: unset;
}

